@import url('./fonts.css');
@import url('./reset.css');

/*MEU AND LOGO*/

.wrapper {
    width: 950px;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    color: #FED136;
    font-weight: 700;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 125px 0;
}

.navigation-menu {
    display: flex;
}

.menu-item a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222222;
}

.menu-item {
    margin-right: 40px;
}

.navigation-menu li:last-child {
    margin-right: 0;
}

.menu-item a:hover {
    color: #FED136;
}


/*TITLE SERVICES*/

.services-title,
.contact-us-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
}

.servise-subtitle,
.contact-us-subtitle {
    display: block;
    font-family: 'Droid';
    font-size: 16px;
    font-weight: 300;
    color: #777777;
    padding-top: 25px;
    margin-bottom: 75px;
    text-align: center;
}


/*MAIN CONTENT*/

.service-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.service-list-item {
    position: relative;
    width: 300px;
    text-align: center;
}

.service-item-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #222222;
    margin-bottom: 8px;
    padding-top: 100px;
}

.service-item-description {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    line-height: 23px;
}

.service-list-item::before {
    position: absolute;
    display: block;
    content: '';
    width: 68px;
    height: 68px;
    border: 3px solid #FED136;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.ecommerse-servise-icon::before,
.responsive-web-icon::before,
.web-security-icon::before {
    background-repeat: no-repeat;
    background-position: center;
}

.ecommerse-servise-icon::before {
    background-image: url(../images/Icon-Basket@1X.png);
}

.responsive-web-icon::before {
    background-image: url(../images/Icon-Laptop@1X.png);
}

.web-security-icon::before {
    background-image: url(../images/Icon-Locked@1X.png);
}


/*FOOTER*/

.contact-us-section {
    background-color: #222222;
    background-repeat: no-repeat;
    background-image: url(../images/Map\ Image@1X.png);
    background-position: right;
    padding-top: 115px;
}

.contact-us-title {
    color: #FFFFFF;
}

.contact-us-subtitle {
    margin-bottom: 75px;
}

.contact-us-form {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.submit-contact-us-btn {
    border: none;
    border-radius: 2px;
    width: 241px;
    height: 61px;
    background-color: #FED136;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto 110px auto;
}

.contact-us-form input,
.contact-us-form textarea {
    color: #777777;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 20px;
}

.input-first-name::placeholder,
.input-email::placeholder,
.input-subject::placeholder,
.comments-textarea::placeholder {
    color: #BBBBBB;
    padding-left: 20px;
}

.comments-textarea::placeholder {
    padding-top: 20px;
}

.contact-us-form textarea {
    padding-top: 20px;
    resize: none;
}

input {
    height: 50px;
    width: 440px;
    margin-bottom: 30px;
    box-shadow: none;
    border: none;
    outline: none;
}

textarea {
    height: 202px;
    width: 440px;
    box-shadow: none;
    border: none;
    outline: none;
}

input:valid:not(:placeholder-shown) {
    outline: 3px solid green;
}

input:invalid:not(:placeholder-shown) {
    outline: 3px solid red;
}

textarea:valid:not(:placeholder-shown) {
    outline: 3px solid green;
}

textarea:invalid:not(:placeholder-shown) {
    outline: 3px solid red;
}

.input-group input,
.input-group+textarea {
    text-transform: none;
}

input::placeholder,
textarea::placeholder {
    text-transform: uppercase;
}